@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    color: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

image[data-type="plot"] {
    width: 5px;
    height: 5px;
}

@media screen and (max-width: 768px) {
    image[data-type="plot"] {
        width: 4px;
        height: 4px;
    }
}

#gftDev {
    position: relative;
    width: 100%;
    display: inline-block;
}

#gftDev #iqosMap {
    display: inline-block;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden;
}

@media screen and (max-width: 1440px) {
    #gftDev #iqosMap  {
        background-color: #ECEAEB;
    }
}

@media screen and (max-width: 992px) {
    #gftDev #iqosMap  {
        background-color: transparent;
    }
}

#gftDev #iqosMap .container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    display: block;
}

#gftDev #iqosMap .col-1 {
    width: 70%;
    float: right;
}

@media screen and (max-width: 992px) {
    #gftDev #iqosMap .col-1 {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 576px) {
    #gftDev #iqosMap .col-1 {
        width: 100%;
    }
}

#gftDev #iqosMap .col-1 #world-map {
    position: relative;
    overflow: hidden;
}

#gftDev #iqosMap .col-1 #world-map #countries {
    overflow: hidden;
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 1;
}

@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-1 #world-map #countries {
        top: 10px;
        left: 10px;
    }
}

#gftDev #iqosMap .col-1 #world-map #countries select {
    font-family: 'Noto Sans', sans-serif;
    margin: 0 auto;
    padding: 10px 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align-last: center;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 0;
}

@media screen and (max-width: 344px) {
    #gftDev #iqosMap .col-1 #world-map #countries select {
        padding: 10px 40px;
    }
}

#gftDev #iqosMap .col-1 #world-map #countries select option {
    cursor: pointer;
}

#gftDev #iqosMap .col-1 #world-map .map {
    overflow: hidden;
    border: 1px solid #ECEAEB;
}

#gftDev #iqosMap .col-1 #world-map .map .zoomButton {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 30px;
    padding: 0 9px;
    font-size: 40px;
    font-weight: 100;
    line-height: 35px;
    border: 1px solid;
    cursor: pointer;
    user-select: none;
    background-color: #FFF;
}

@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-1 #world-map .map .zoomButton {
        left: auto;
        right: -2px;
        bottom: auto;
        top: 0;
        font-size: 26px;
        padding: 0 10px;
    }
}

#gftDev #iqosMap .col-1 #world-map .map .zoomButton.zoomIn {
    bottom: 100px;
}

@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-1 #world-map .map .zoomButton.zoomIn {
        bottom: auto;
        right: 60px;
        top: 11px;
    }
}

#gftDev #iqosMap .col-1 #world-map .map .zoomButton.zoomOut {
    bottom: 40px;
}

@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-1 #world-map .map .zoomButton.zoomOut {
        bottom: auto;
        right: 10px;
        top: 11px;
    }
}

#gftDev #iqosMap .col-1 #world-map .map .zoomButton.zoomReset {
    display: none;
}

#gftDev #iqosMap .col-1 #world-map .map svg {
    background: #F5F5F3;
}

@media screen and (max-width: 992px) {
    #gftDev #iqosMap .col-1 #world-map .map svg {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-1 #world-map .map svg {
        width: 520px;
        height: 330px;
        left: -100px;
    }
}

#gftDev #iqosMap .col-2 {
    width: 30%;
    float: left;
}

@media screen and (max-width: 992px) {
    #gftDev #iqosMap .col-2 {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 576px) {
    #gftDev #iqosMap .col-2 {
        width: 100%;
    }
}

#gftDev #iqosMap .col-2 .country {
    display: table;
    min-height: 740px;
}

@media screen and (max-width: 1440px) {
    #gftDev #iqosMap .col-2 .country {
        display: inline-block;
        min-height: auto;
    }
}

@media screen and (max-width: 992px) {
    #gftDev #iqosMap .col-2 .country {
        width: 100%;
    }
}


@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-2 .country {
        padding: 0 10px;
        display: inline-block;
        position: relative;
        top: -60px;
    }
}

#gftDev #iqosMap .col-2 .country > div {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 1440px) {
    #gftDev #iqosMap .col-2 .country > div {
        display: inline-block;
        vertical-align: inherit;
    }
}

@media screen and (max-width: 992px) {
    #gftDev #iqosMap .col-2 .country > div {
        width: 100%;
    }
}

#gftDev #iqosMap .col-2 .country > div .info {
    padding: 20px 25px;
    background-color: #ECEAEB;
}

@media screen and (max-width: 1440px) {
    #gftDev #iqosMap .col-2 .country > div .info {
        padding: 10px 25px;
    }
}

@media screen and (max-width: 1200px) {
    #gftDev #iqosMap .col-2 .country > div .info {
        padding: 10px 12px;
    }
}

@media screen and (max-width: 992px) {
    #gftDev #iqosMap .col-2 .country > div .info {
        width: 100%;
        display: inline-block;
    }
}

#gftDev #iqosMap .col-2 .country > div .info > p {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

@media screen and (max-width: 1440px) {
    #gftDev #iqosMap .col-2 .country > div .info > p {
        font-size: 30px;
        line-height: 40px;
        padding: 10px 0;
    }
}

@media (max-width: 414px) {
    #gftDev #iqosMap .col-2 .country > div .info > p {
        font-size: 20px;
        font-weight: bold;
    }
}

#gftDev #iqosMap .col-2 .country > div .info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#gftDev #iqosMap .col-2 .country > div .info ul > li {
    width: 100%;
    display: inline-block;
    padding: 10px 0 20px;
}

/*#gftDev #iqosMap .col-2 .country > div .info ul > li:nth-of-type(3) .details p {*/
/*    font-size: 18px;*/
/*    line-height: 25px;*/
/*}*/

@media screen and (max-width: 992px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li {
        width: calc(33.3% - 20px);
        float: left;
        display: inline-block;
    }
}

@media screen and (max-width: 900px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li {
        width: calc(50% - 20px);
        float: left;
        display: inline-block;
    }
}

@media screen and (max-width: 900px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li:nth-of-type(3) {
        width: 100%;
        float: left;
        display: inline-block;
    }
}

@media screen and (max-width: 767px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li {
        width: 100%;
        display: inline-block;
    }
}

#gftDev #iqosMap .col-2 .country > div .info ul > li span {
    float: left;
    margin: 0 20px 0 0;
    position: absolute;
}

@media screen and (max-width: 1440px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li span {
        width: 65px;
    }
}

@media screen and (max-width: 1200px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li span {
        width: 49px;
    }
}

@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li span {
        width: 50px;
        height: 50px;
        position: absolute;
    }
}

#gftDev #iqosMap .col-2 .country > div .info ul > li span img {
    border-radius: 50%;
    background-color: #000;
    padding: 10px;
}

@media screen and (max-width: 1440px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li span img {
        width: 100%;
    }
}


@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li span img {
        width: 100%;
    }
}

#gftDev #iqosMap .col-2 .country > div .info ul > li div.details {
    float: left;
    display: inline-block;
    padding: 10px 20px 10px;
    position: relative;
    width: calc(100% - 80px);
    margin: 0 0 0 89px;
}

@media screen and (max-width: 1440px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li div.details {
        width: calc(100% - 80px);
        margin: 0 0 0 67px;
        padding: 10px;
    }
}

@media screen and (max-width: 1200px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li div.details {
        width: calc(100% - 60px);
        margin: 0 0 0 50px;
    }
}

@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li div.details {
        padding: 0 10px 25px 10px;
        margin-left: 50px;
    }
}

#gftDev #iqosMap .col-2 .country > div .info ul > li div.details:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    max-width: 60px;
    height: 2px;
    left: 20px;
    bottom: 0;
    background-color: #000000;
}

@media screen and (max-width: 1440px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li div.details:before {
        left: 10px;
    }
}

@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li div.details:before {
        left: 10px;
        bottom: 10px;
    }
}

#gftDev #iqosMap .col-2 .country > div .info ul > li div.details small {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}

@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li div.details small {
        font-size: 13px;
    }
}

#gftDev #iqosMap .col-2 .country > div .info ul > li div.details p {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
}

@media screen and (max-width: 1440px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li div.details p {
        font-size: 20px;
        line-height: 30px;
    }
}

@media screen and (max-width: 1200px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li div.details p {
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and (max-width: 414px) {
    #gftDev #iqosMap .col-2 .country > div .info ul > li div.details p {
        font-size: 20px;
    }
}

#gftDev .container {
    max-width: 1640px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

#gftDev .incearcaGratuit {
    position: fixed;
    right: 1.5%;
    top: 85%;
    padding: 10px 0;
    width: 85%;
    max-width: 116px;
    border-radius: 50px;
    background-color: #F6E200;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#gftDev .incearcaGratuit:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    background: #fff044;
    content: '';
    position: absolute;
    z-index: -1;
}

#gftDev .incearcaGratuit:hover:after {
    width: 100%;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

@media only screen and (max-width: 1024px) {
    #gftDev .incearcaGratuit {
        top: 65%;
    }
}

@media only screen and (max-width: 576px) {
    #gftDev .incearcaGratuit {
        top: 55%;
        font-size: 10px;
        padding: 5px 0;
        max-width: 90px;
    }
}

.separator {
    width: 100%;
    max-width: 164px;
    height: 1px;
    display: block;
    margin: 0 auto;
    background-color: #000000;
}

#gftDev a {
    color: #D09A59;
    text-decoration: none;
}

#gftDev a.default_button {
    outline: none;
    position: relative;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 37px;
    border: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .12rem;
}

#gftDev a.default_button:after {
    margin: 0 0 0 .5rem;
    background: transparent url("../images/ui/right.svg") no-repeat;
    background-size: cover;
    content: '';
    display: block;
    width: 28px;
    height: 10px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#gftDev a.default_button:hover:after {
    transform: translateX(0.3rem);
}

/* =======================================================
    o SFATURI DE CALATORIE
========================================================*/
#gftDev .sfaturiDeCalatorie {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 50px 0;
}

#gftDev .sfaturiDeCalatorie .container > h2 {
    font-size: 54px;
    line-height: 70px;
    font-weight: 500;
    color: #404040;
    padding: 10px 0 20px;
    margin: 0;
    text-align: center;
}

#gftDev .sfaturiDeCalatorie .container .boxes {
    width: 100%;
    padding: 35px 0 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 992px) {
    #gftDev .sfaturiDeCalatorie .container .boxes {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    #gftDev .sfaturiDeCalatorie .container .boxes {
        padding: 0 15px;
    }
}

#gftDev .sfaturiDeCalatorie .container .boxes .box {
    width: calc(33.3% - 60px);
    display: inline-block;
    float: left;
    margin: 0 30px;
    padding: 15px 25px 15px;
    background-color: #ECEAEB;
    text-align: center;
}

@media screen and (max-width: 1250px) {
    #gftDev .sfaturiDeCalatorie .container .boxes .box {
        width: calc(33.3% - 30px);
        margin: 0 15px;
    }
}

@media screen and (max-width: 992px) {
    #gftDev .sfaturiDeCalatorie .container .boxes .box {
        width: calc(49% - 30px);
        display: inline-table;
        margin: 0 15px 20px;
        float: none;
        min-height: 400px;
    }
}

@media screen and (max-width: 924px) {
    #gftDev .sfaturiDeCalatorie .container .boxes .box {
        width: calc(49% - 20px);
        margin: 0 10px 20px;
        min-height: 422px;
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {
    #gftDev .sfaturiDeCalatorie .container .boxes .box {
        width: 100%;
        margin: 20px 0;
        min-height: 255px;
        padding: 15px;
        display: block;
    }
}

#gftDev .sfaturiDeCalatorie .container .boxes .box h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    color: #333333;
    margin: 0;
    padding: 10px 0;
}

#gftDev .sfaturiDeCalatorie .container .boxes .box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#gftDev .sfaturiDeCalatorie .container .boxes .box ul li {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #333333;
    padding: 15px 0 10px;
    position: relative;
}

#gftDev .sfaturiDeCalatorie .container .boxes .box ul li:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
    left: -7px;
    top: -2px;
    background-color: #000000;
}

#gftDev .sfaturiDeCalatorie .container .supportIqos {
    width: 100%;
    display: inline-block;
    padding: 0 15px;
}

#gftDev .sfaturiDeCalatorie .container .supportIqos .container {
    max-width: 747px;
}

#gftDev .sfaturiDeCalatorie .container .supportIqos .container > h3, #gftDev .sfaturiDeCalatorie .container .supportIqos .container > p {
    font-size: 21px;
    line-height: 28px;
    color: #333333;
    margin: 0;
}

#gftDev .sfaturiDeCalatorie .container .supportIqos .container h3 {
    padding: 10px 0 15px;
    text-align: center;
}

#gftDev .sfaturiDeCalatorie .container .supportIqos .container p {
    text-align: center;
    font-weight: 400;
}

/* =======================================================
    o Țările din care nu poți cumpăra IQOS sau HEETS
========================================================*/
#gftDev .whereToBuy {
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    #gftDev .whereToBuy {
        padding: 0 15px;
    }
}

#gftDev .whereToBuy .wrapper {
    position: relative;
    max-width: 1628px;
    display: block;
    margin: 0 auto;
    padding: 50px 0;
}

@media only screen and (max-width: 992px) {
    #gftDev .whereToBuy .wrapper {
        padding: 25px 0;
    }
}

#gftDev .whereToBuy .wrapper .content-wrapper {
    align-items: center;
    padding: 40px 35% 40px 0;
    background-color: #ECEAEB;
    margin-right: 12.7vw;
    min-height: 41.2vw;
    display: flex;
}

@media only screen and (max-width: 992px) {
    #gftDev .whereToBuy .wrapper .content-wrapper {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
}

#gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper {
    text-align: left;
    padding: 0 60px;
}

@media only screen and (max-width: 992px) {
    #gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper {
        padding: 0;
    }
}

#gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper .image-sm {
    display: none;
}

@media only screen and (max-width: 992px) {
    #gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper .image-sm {
        display: inline-block;
        width: 100%;
    }
    #gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper .image-sm img {
        width: 100%;
    }
}

#gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    margin: 0;
    padding: 15px 0 15px 0;
}

@media only screen and (max-width: 1200px) {
    #gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper h2 {
        font-size: 35px;
        padding: 30px 10px 0;
        line-height: 40px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 476px) {
    #gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper h2 {
        font-size: 28px;
        line-height: 35px;
        max-width: 100%;
    }
}

#gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #333333;
    margin: 0;
    padding: 0 0 10px 0;
}

@media only screen and (max-width: 1200px) {
    #gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 1200px) {
    #gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper p {
        padding: 16px;
    }
}

@media only screen and (max-width: 476px) {
    #gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper p {
        font-size: 15px;
        line-height: 25px;
        max-width: 100%;
    }
}

#gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper ul {
    margin: 10px 0;
    padding: 0 0 0 30px;
}

#gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper ul li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

#gftDev .whereToBuy .wrapper .content-wrapper .text-wrapper ul li span {
    font-weight: 700;

}

#gftDev .whereToBuy .wrapper .image-wrapper {
    position: absolute;
    right: 0;
    top: 2.5rem;
    bottom: 2.5rem;
    max-width: 50%;
    display: flex;
    align-items: center;
}

#gftDev .whereToBuy .wrapper .image-wrapper img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

@media only screen and (max-width: 992px) {
    #gftDev .whereToBuy .wrapper .image-wrapper img {
        display: none;
    }
}

#gftDev .garantiaInternationala {
    background-color: #ECEAEB;
    padding: 100px 0;
}